@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: 'Sen', sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

.standard-container{
  width: 100%;
  height: 100dvh;
background-color: black;
}

.parallax-container{
    position: relative;
    width: 100%;
    height: 200vh; /* Adjust height for scrolling */
  
}

