.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    top: 0; 
    position: fixed;
    z-index: 100;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

@media (min-width: 2500px) {
    .navbar-container {
        padding: 20px 20px;
    }
}

.navbar-container.invert {
    background-color: #fff;
}

.navbar-inner {
    position: relative;
    height: var(--header-height);
    width: 100%;
    max-width: 1024px;
    padding-left: 24px;
    padding-right: 24px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        width: 100%;
        min-height: var(--header-height);
}



.navbar-container img{
    filter: invert(0);
    transition: all 0.25s ease-in;
    height: 100%;
    width: auto; 
    display: flex;
;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    border-radius: 6px;
    height: 32px;
    padding: 0 8px;
    margin-left: -8px;
}
.navbar-container.invert img{
    filter: invert(1);
    transition: all 0.25s ease-in;
}

.reach-out-button {
    position: relative;
    background-color: #fff; 
    color: black; 
    border: none; 
    height: 32px; 
    width: fit-content;
    gap: 8px;
    font-size: 12px; 
    padding: 0 12px; 
    border-radius: 5px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    transition: all 0.25s ease-in;
    /* margin-right: 1rem; */

}

.reach-out-button.invert {
    background-color: #000;
    color: #fff;
    transition: all 0.25s ease-in;
}



